<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <h1>This is a new about page</h1>
    <h2>About Me:</h2>
    <ul>
        {% if information %}
                <p>First Name: {{ information.first_name }}</p>
                <p>Last Name: {{ information.last_name}} </p>
                <p>Age: {{ information.age }}</p>
        {% else %}
            <p>No information</p>
        {% endif %}
    </ul>
</body>
</html>